In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data_2d.csv')

In [3]:
df.head()

   17.9302012052  94.5205919533  320.259529602
0      97.144697      69.593282     404.634472
1      81.775901       5.737648     181.485108
2      55.854342      70.325902     321.773638
3      49.366550      75.114040     322.465486
4       3.192702      29.256299      94.618811

In [8]:
df.columns = ['1','2','3']

In [11]:
X = df[['1','2']]
Y = df['3']

In [12]:
X = np.array(X)
Y = np.array(Y)

In [13]:
w = np.linalg.solve(np.dot(X.T,X),np.dot(X.T,Y))

In [14]:
Yans = np.dot(X,w)

In [15]:
d1 = Y - Yans
d2 = Y - Y.mean()
R2 = 1 - d1.dot(d1)/d2.dot(d2)

In [16]:
print('R2 score   ', R2)

R2 score    0.997976178085